*, *:before, *:after
  box-sizing: border-box
.input
  outline: none
html
  font-size: 14px
  background-color: $light-dark
button
  outline: none
body
  font-family: serif
  font-size: 1rem
  font-family: 'Futura Book', sans-serif
img
  max-width: 100%
.container
    width: 85%
    max-width: 1256px
    margin: auto
.container-2
    width: 95%
    max-width: 1920px
    margin: auto
.container-3
  width: 85%
  margin: auto
  max-width: 1098px 
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
    &-30
        flex-basis: 30%
    &-70
        flex-basis: 70%
#map-yandex
    cursor: pointer
    background-color: transparent
    background: url('../img/map.png') center
    margin: auto
    max-width: 925px
    min-height: 465px
    