
.footer-info
  text-align: center
.footer-logo
  color: $primary
  font-size: 1.45rem
  &__desciprion
    font-size: 1.1rem
    color: $light
.footer
  background-color: $dark
  &-down
    margin-top: 5rem
    padding-bottom: 2rem
    justify-content: space-around
    display: flex
  &-up
    padding-top: 5rem
.footer-title
  color: $primary
  font-size: 1.5rem
.footer-text
  color: $light
  font-size: 1.2rem
  line-height: 175%
  &__link
    display: block
    font-size: 1.23rem
    text-decoration: none
    color: $light
    &:hover
      color: $primary
      transition: color 0.2s
      cursor: pointer
    