.header
  width: 100%
  background-color: $dark
  padding: 24px 0 24px
  margin-bottom: 0.8rem
  &__promo
    text-align: center
    font-size: 1.7rem
    color: $light
    &-text
      &:hover
        color: $primary
        transition: color 0.2s
.menu
  display: flex
  justify-content: space-between
  align-items: center
.logo
  color: $primary
  font-size: 1.075rem
  text-transform: uppercase
  text-decoration: none
.nav
  &__item
    text-decoration: none
    color: $light
    text-transform: uppercase
    margin-right: 2.5rem
    &:hover
      color: $primary
      transition: color 0.2s
.phone
  color: $primary
.contacts
  &__phone
    margin-right: 45px
    &:hover 
      color: $light

