.partners-fat {
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc; }

.partners-material {
  color: #cccccc;
  font-size: 1.3rem;
  line-height: 140%; }

.partners-text {
  text-transform: uppercase; }
